body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #e1f0f8;
  color: #0d73d3;
}
.MuiInputBase-input{
  color: #0d73d3 !important;
}


